#header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.headerContainer {
  width: calc(100% - 5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
}

.header__myName {
  display: flex
}

.header__list > ul{
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.header__list > ul > li > a {
  text-decoration: none;
  color: white;
}