#stacks {
  width: 90%;
  height: max-content;
  margin: 1rem auto 0 auto;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.stacksContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stacks > h2 {
  text-align: center;
}

.imgSmall {
  width: 3rem;
  margin: 1rem;
}

.imgMedium {
  width: 5rem;
  margin: 1rem;
}

.imgBig {
  width: 7rem;
  margin: 1rem;
}